{% load crispy_forms_tags %}
{{ record_form.media }}
<div class="row">
        <div class="col-12">
            <h5 class="header-label">Title and Abstract</h5>
        </div>
    </div>
<hr>
<div class="row">
	<div class="col-12" style="margin-top: 20px">
		<div class="titleInput">{{ record_form.title|as_crispy_field }}</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="yStartedInput">{{ record_form.year_accomplished|as_crispy_field }}</div>
	</div>
	<div class="col">
		<div class="yCompletedInput">{{ record_form.year_completed|as_crispy_field }}</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		{{ record_form.abstract|as_crispy_field }}
	</div>
</div>

<!--<div class="row">
	<div class="col-12">
		<input type="file" name="abstract">
		<input type="hidden" name="upload-abstract" value="true">
	</div>
</div>-->
<div class="row">
	<div class="col-12 d-flex justify-content-end">
		<button class="btn nextButtonByRecordListener base-btn base-bg-primary" type="button">Next</button>
	</div>
</div>
